<!-- // Begin Sidebar \\  -->
<table border="0" cellpadding="0" cellspacing="0" width="200">
	<tbody>
		<tr>
			<td class="sidebarContent" valign="top" style="border-collapse: collapse">
				<!-- // Begin Module: Social Block with Icons \\ --
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td style="padding-top: 10px;padding-right: 20px;padding-left: 20px;border-collapse: collapse" valign="top">
								<table border="0" cellpadding="0" cellspacing="4">
									<tbody>
										<tr>
											<td align="left" valign="middle" width="16" style="border-collapse: collapse">
												<img src="http://gallery.mailchimp.com/653153ae841fd11de66ad181a/images/sfs_icon_facebook.png" style="margin: 0 !important;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;display: inline" />
											</td>
											<td align="left" valign="top" style="border-collapse: collapse">
												<div style="color: #505050;font-family: Arial;font-size: 12px;line-height: 150%;text-align: left">
													<a href="*|FACEBOOK:PROFILEURL|*">Friend on Facebook</a>
												</div>
											</td>
										</tr>
										<tr>
											<td align="left" valign="middle" width="16" style="border-collapse: collapse">
												<img src="http://gallery.mailchimp.com/653153ae841fd11de66ad181a/images/sfs_icon_twitter.png" style="margin: 0 !important;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;display: inline" />
											</td>
											<td align="left" valign="top" style="border-collapse: collapse">
												<div style="color: #505050;font-family: Arial;font-size: 12px;line-height: 150%;text-align: left">
													<a href="*|TWITTER:PROFILEURL|*">Follow on Twitter</a>
												</div>
											</td>
										</tr>
										<tr>
											<td align="left" valign="middle" width="16" style="border-collapse: collapse">
												<img src="http://gallery.mailchimp.com/653153ae841fd11de66ad181a/images/sfs_icon_forward.png" style="margin: 0 !important;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;display: inline" />
											</td>
											<td align="left" valign="top" style="border-collapse: collapse">
												<div style="color: #505050;font-family: Arial;font-size: 12px;line-height: 150%;text-align: left">
													<a href="*|FORWARD|*">Forward to a Friend</a>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- // End Module: Social Block with Icons \\ -->
				<!-- // Begin Module: Top Image with Content \\ -->
				<table border="0" cellpadding="20" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td valign="top" style="border-collapse: collapse">
								<img src="/data/templates/parts/components/images/160x160.jpg" style="max-width: 160px;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;display: inline">
								<div style="color: #505050;font-family: Arial;font-size: 12px;line-height: 150%;text-align: left" contenteditable="true">
									<h4 class="h4" style="color: #202020;display: block;font-family: Arial;font-size: 22px;font-weight: bold;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left">
										Heading 4
									</h4>
									<strong>Repeatable content blocks:</strong> Repeatable sections are noted with plus and minus signs so that you can add and subtract content blocks. You can also <a href="http://www.mailchimp.com/kb/article/how-do-i-work-with-repeatable-content-blocks" target="_blank">get a little fancy</a>: repeat blocks and remove all text to make image 'gallery' sections, or do the opposite and remove images for text-only blocks!
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- // End Module: Top Image with Content \\ -->
			</td>
		</tr>
	</tbody>
</table>
<!-- // End Sidebar \\ -->