<table border="0" cellpadding="0" cellspacing="0" id="templateHeader" width="600" style="background-color: #FFF;border-bottom: 5px solid #505050">
	<tbody>
		<tr>
			<td class="headerContent" style="padding-left: 20px;padding-right: 10px;border-collapse: collapse;font-family: Arial;font-size: 34px;font-weight: bold;line-height: 100%;padding: 10px;text-align: right;vertical-align: middle" width="100%">
				<div contenteditable="true">
					<h1 style="display: block;font-family: Arial;font-size: 40px;font-weight: bold;line-height: 100%;margin-top: 2%;margin-right: 0;margin-bottom: 1%;margin-left: 0;text-align: left">
						Heading 1
					</h1>
				</div>
			</td>
			<td class="headerContent" style="border-collapse: collapse;font-family: Arial;font-size: 34px;font-weight: bold;line-height: 100%;padding: 10px;text-align: right;vertical-align: middle">
				<img id="headerImage campaign-icon" src="/data/templates/parts/components/images/180x100.jpg" style="max-width: 180px;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none" />
			</td>
		</tr>
	</tbody>
</table>