<table border="0" cellpadding="0" cellspacing="0" id="templateHeader" width="600" style="background-color: #FFF;border-bottom: 5px solid #505050">
	<tbody>
		<tr>
			<td class="headerContent" style="border-collapse: collapse">
				<table border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td class="leftHeaderContent" style="border-collapse: collapse">
								<div style="color: #202020;font-family: Arial;font-size: 32px;font-weight: bold;line-height: 100%;text-align: right;vertical-align: middle" contenteditable="true">
									Heading 1
								</div>
							</td>
							<td valign="middle" width="180" style="border-collapse: collapse">
								<img id="headerImage campaign-icon" src="/resources/images/placeholder-180x100.jpg" style="max-width: 180px;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none" />
							</td>
							<td class="rightHeaderContent" style="border-collapse: collapse">
								<div style="color: #202020;font-family: Arial;font-size: 32px;font-weight: bold;line-height: 100%;text-align: left;vertical-align: middle" contenteditable="true">
									Heading 2
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>