<!-- // Begin Template Body \\ -->
<table border="0" cellpadding="0" cellspacing="0" class="templateBody" width="600" component-columns="2">
	<tbody>
		<tr>
			<td class="innerColumn leftColumnContent" valign="top" style="border-collapse: collapse;background-color: #FFF" width="280" column-width>
				<!-- // Begin Module: Top Image with Content \\ -->
				<table border="0" cellpadding="20" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td valign="top" style="border-collapse: collapse">
								<img src="http://placehold.it/260x200" style="max-width: 260px; width:100%; border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;display: inline" class="imgcol2"/>
								<div style="color: #505050;font-family: Arial;font-size: 14px;line-height: 150%;text-align: left" class="editMe">
									<h4 class="h4" style="color: #202020;display: block;font-family: Arial;font-size: 22px;font-weight: bold;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left">
										Heading 4
									</h4>
									<strong>Repeatable content blocks:</strong> Repeatable sections are noted with plus and minus signs so that you can add and subtract content blocks. You can also <a href="http://www.mailchimp.com/kb/article/how-do-i-work-with-repeatable-content-blocks" target="_blank">get a little fancy</a>: repeat blocks and remove all text to make image 'gallery' sections, or do the opposite and remove images for text-only blocks!
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- // End Module: Top Image with Content \\ -->
			</td>
			<td class="innerColumn rightColumnContent" valign="top" style="border-collapse: collapse;background-color: #FFF" width="280" column-width>
				<!-- // Begin Module: Top Image with Content \\ -->
				<table border="0" cellpadding="20" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td valign="top" style="border-collapse: collapse">
								<img src="http://placehold.it/260x200" style="max-width: 260px; width:100%; border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;display: inline" class="imgcol2"/>
								<div style="color: #505050;font-family: Arial;font-size: 14px;line-height: 150%;text-align: left" class="editMe">
									<h4 class="h4" style="color: #202020;display: block;font-family: Arial;font-size: 22px;font-weight: bold;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left">
										Heading 4
									</h4>
									<strong>Repeatable content blocks:</strong> Repeatable sections are noted with plus and minus signs so that you can add and subtract content blocks. You can also <a href="http://www.mailchimp.com/kb/article/how-do-i-work-with-repeatable-content-blocks" target="_blank">get a little fancy</a>: repeat blocks and remove all text to make image 'gallery' sections, or do the opposite and remove images for text-only blocks!
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- // End Module: Top Image with Content \\ -->
			</td>
		</tr>
	</tbody>
</table>
<!-- // End Template Body \\ -->