h1, .h1{
	display:block;
	font-family:Arial;
	font-size:34px;
	font-weight:bold;
	line-height:100%;
	margin-top:0;
	margin-right:0;
	margin-bottom:10px;
	margin-left:0;
	text-align:left;
}

h2, .h2{
	display:block;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	line-height:100%;
	margin-top:0;
	margin-right:0;
	margin-bottom:0px;
	margin-left:0;
	text-align:center;
	text-transform:uppercase;
}

h3, .h3{
	display:block;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	line-height:100%;
	margin-top:0;
	margin-right:0;
	margin-bottom:10px;
	margin-left:0;
	text-align:left;
	text-transform: uppercase;
}

h4, .h4{
	display:block;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	line-height:100%;
	margin-top:0;
	margin-right:0;
	margin-bottom:10px;
	margin-left:0;
	text-align:left;
	text-transform: uppercase;
}

h5, .h5{
	display:block;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	line-height:100%;
	margin-top:0;
	margin-right:0;
	margin-bottom:0px;
	margin-left:0;
	text-align:left;
}

a{
	text-decoration: none;
}