@import "../vendors/font-awesome/less/font-awesome";
// mixins
.transition(@transition) {
	-webkit-transition: @transition;
	-moz-transition: @transition;
	-o-transition: @transition;
	transition: @transition;
}

.fa(@icon){
	@faPrefix: "fa-var-@{icon}";
	.fa-icon();
	content: @@faPrefix;
};

.inlineBlocker(@vAlign: top){
	display: inline-block;
	*display: inline;
	vertical-align: @vAlign;
	*vertical-align: @vAlign;
}

.box-sizing(@property: border-box){
	-webkit-box-sizing: @property;
	-moz-box-sizing: @property;
	box-sizing: @property; 
}

.editor-button(@type, @text: '@{type}'){
	&::before{
		.fa(@type);
	}
	&:hover{
		&::before{
			content: '@{text}';
		}
	}
}

.displayNone{
	display: none !important;
}

.scrollBar{
	::-webkit-scrollbar{}

	::-webkit-scrollbar-thumb{}
}

*{
	position: relative;
	margin: 0px;
	padding: 0px;
}

.wrapper{
	// margin: 20px 50px;
	margin: 20px 0px;
	
	&-editor{
		margin-top: 70px;
	}
}


////////////////////
// MANAGER STYLES //
////////////////////

.manager{
	max-width: 900px;
	margin: 0 auto;
}

.manager-active, .manager-trash {
	ul{
		padding: 0;
	}

	li{
		display: table;
		width: 100%;
		height: 45px;

		.template-title{
			font-weight: bold;
			display: table-cell;
			vertical-align: middle;
			width: 60%;
		}

		.template-control{
			display: table-cell;
			vertical-align: middle;
			width: 10%;
			border-left: 1px solid #ccc;
			text-align: center;
			color: rgb(85, 26, 139);
			cursor: pointer;
		}
	}
}

///////////////////
// EDITOR STYLES //
///////////////////

.editor{
	&-wrapper{
		display: table;
		width: 100%;
		min-width: 1200px;
		margin-top: 3%;
	}
	
	&-tools{
		display: table-cell;
		width: 35%;
		padding: 0px 10px;
		vertical-align: top;
	}
	
	&-toolsBtn{
		button{
			width: 100%;
			font-size: 2em;
			margin-bottom: 2%
		}
	}
	
	&-modeView{
		background-color: #666;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 999;
		overflow-x: hidden;
		
		header{
			display: table;
			width: 100%;
			font-size: 2em;
			height: 55px;
			padding: 0px 20px;
			box-sizing: border-box;
			
			h3{
				display: table-cell;
				vertical-align: middle;
				text-align: left;
			}
			div{
				display: table-cell;
				vertical-align: middle;
				text-align: right;
			}
		}
	}

	&-modelExit{
		margin: 15px 0px;
		text-align: right;
		padding-right: 20px;
		font-size: 2em;
		color: white;
	}

	&-content{
		display: table-cell;
		vertical-align: top;
		width: 65%;
		min-width: 650px;
		padding: 0px 10px;
		text-align: center;
		.box-sizing();
	}
	
	&-template{
		overflow-y: scroll;
		width: 100%;
		height: 80vh;
		margin: 0 auto;
		min-width: 650px;
		border: 1px solid #ddd;
		.box-sizing();
	}

	&-toolbarBtn{
		text-align: left;
		display: block;
		margin-bottom: 1%;

		button{
			font-size: 13px;
			width: 90px;
			padding: 10px 0px;
			margin-right: 1%;
		}
		
		
		.Bold{
			.editor-button(bold);
		}

		.Italic{
			.editor-button(italic);
		}

		.Strikethrough{
			.editor-button(strikethrough);
		}

		.Underline{
			.editor-button(underline);
		}

		.Subscript{
			.editor-button(subscript);
		}

		.Superscript{
			.editor-button(superscript);
		}

		.Link{
			.editor-button(link);
		}
		.image{
			.editor-button(file-image-o, Insert Image);
		}
	}
}

.modify{

	.tabs{
		display: table;
		width: 100%;
		height: 50px;

		li{
			width: 50%;
			display: table-cell;
			vertical-align: middle;
			background-color: #999;
			text-align: center;
			color: white;

			&:first-child{
				border-right: 1px solid #666;
			}
			
			&.active{
				background-color: #666;
			}
		}
	}
}

//////////////////////////
// TEMPLATE TEMP STYLES //
//////////////////////////

.editor .new{
	// add to indicate its contenteditable
	[contenteditable~=true]{
		border: 1px solid #E7E7E7;
	}
	
	.noheader{
		height: 150px;
		border-bottom: 1px solid #000;
		border-left: 1px solid #000;
		border-right: 1px solid #000;
	}

	.noContent{
		// width: 400px;
		height: 500px;
	}

	.noSidebar{
		width: 1px;
	}
	.noBottom{
		height: 150px;
		border: 1px solid #000;	
	}
	
	.addComponent{
		width: 0px;
		background-color: aquamarine !important;
		border: 3px solid #333;
		box-sizing: border-box;
		vertical-align: middle;
		cursor: pointer;
		
		&:before{
			display: block !important;
			text-align: center;
			font-size: 3em !important;
			vertical-align: top;
			color: darken(aquamarine, 50%);
			.fa(plus-circle);
		}
	}
	
	.activeSection{
		width: 0px;
		background-color: aquamarine !important;
		border: 3px solid #333;
		box-sizing: border-box;
		vertical-align: middle;
		cursor: pointer;

		&:before{
			display: block !important;
			text-align: center;
			font-size: 3em !important;
			vertical-align: top;
			color: darken(aquamarine, 50%);
			.fa(minus-circle);
		}
	}
	.removeComponent{
		vertical-align: middle;
		&:before{
			content: '';
			position: absolute;
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(255, 0, 0, 0.5);
			top: 0;
			left: 0;
			z-index: 999
		}
		
		&:after{
			.fa(times-circle);
			font-size: 3em;
			position: absolute;
			z-index: 1000;
			margin: auto;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 1em;
			height: 1em;
		}
	}
	.activeSidebar{
		width: auto;
	}
}