@import "normalize.css";
@import "../vendors/font-awesome/less/font-awesome";
@import "../vendors/bootstrap/less/bootstrap";

// MIXINS START
.transition(@transition) {
	-webkit-transition: @transition;
	-moz-transition: @transition;
	-o-transition: @transition;
	transition: @transition;
}

.fa(@icon){
	@faPrefix: "fa-var-@{icon}";
	.fa-icon();
	content: @@faPrefix;
};

.inlineBlocker(@vAlign: top){
	display: inline-block;
	*display: inline;
	vertical-align: @vAlign;
	*vertical-align: @vAlign;
}

.box-sizing(@property: border-box){
	-webkit-box-sizing: @property;
	-moz-box-sizing: @property;
	box-sizing: @property; 
}

.editor-button(@type, @text: '@{type}'){
	&::before{
		.fa(@type);
	}
	&:hover{
		&::before{
			content: '@{text}';
		}
	}
}

.actionButtons(@faIcon){
	font-size: 3em !important;
	display: block !important;
	padding: 20px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 0 auto;
	.fa(@faIcon);
}

.overlayAction(@fa-type, @bgColor){
	position: relative;
	&:before{
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 999;
		background-color: @bgColor;
	}

	&:after{
		.fa(@fa-type);
		width: 1em;
		height: 1em;
		font-size: 3em;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1000;
		margin: auto;
		cursor: pointer;
	}
}

* {
	:not(table) :not(td){
		position: relative;
		margin: 0px;
		padding: 0px;
		font-family: arial;
	}
}

body{
	// background-color: @darkBlue;
}

.wrapper{
	
	header{
		.navbar();
		.navbar-default();
		
		.navbar-right{
			button{
				.btn();
				.btn-primary();
				.navbar-btn();
			}
		}
	}

	&-editor{
		margin-top: 70px;
	}
}

////////////////////
// MANAGER STYLES //
////////////////////

.manager{
	.container();
}
.templatesNavigations{
	ul{
		.nav();
		.nav-tabs();
		.nav-justified();
	}
}

.manager-templates{
	.listContainer{
		.list-group();
		
		li{
			.list-group-item();

			&:first-child{
				border-top: none;
				border-radius: 0px;
			}
		}
	}

	.itemContainer{
		.make-row(0px);

		.template-title{
			.make-lg-column(8, 0px);
		}
		.template-controls{
			text-align: right;
			.make-lg-column(4, 0px);

			button{
				.btn();
				.btn-primary();


				&[data-manager=trash]{
					.btn-warning();
				}

				&[data-manager=delete]{
					.btn-danger();
				}

				&[data-manager=preview]{
					.btn-info();
				}
			}
		}
	}
}

.modal{
	.actionContainer{
		.form-group{
			span{
				display: none;
			}
		}
		.has-success{
			span{
				display: block;
				&:before{
					.fa(check);
				}
			}
		}

		.has-error{
			span{
				display: block;
				&:before{
					.fa(times);
				}
			}
		}
	}

	.templateAction{
		.btn();
		.btn-primary();
		.center-block();
	}
	
	.trashTemplate{
		.btn();
		.btn-warning();
		.center-block();
	}
	
	.deleteTemplate{
		.btn();
		.btn-danger();
		.center-block();
	}
}

///////////////////
// EDITOR STYLES //
///////////////////

.editor{
	&-wrapper{
		display: table;
		width: 100%;
		min-width: 1200px;
		margin-top: 3%;
	}
	
	&-tools{
		display: table-cell;
		width: 35%;
		padding: 0px 10px;
		vertical-align: top;
	}
	
	&-toolsBtn{
		button{
			width: 100%;
			font-size: 2em;
			margin-bottom: 2%
		}
	}
	
	&-modeView{
		background-color: #666;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 999;
		overflow-x: hidden;
		
		header{
			display: table;
			width: 100%;
			font-size: 2em;
			height: 55px;
			padding: 0px 20px;
			box-sizing: border-box;
			
			h3{
				display: table-cell;
				vertical-align: middle;
				text-align: left;
			}
			div{
				display: table-cell;
				vertical-align: middle;
				text-align: right;
			}
		}
	}

	&-modelExit{
		margin: 15px 0px;
		text-align: right;
		padding-right: 20px;
		font-size: 2em;
		color: white;
	}

	&-content{
		display: table-cell;
		vertical-align: top;
		width: 65%;
		min-width: 650px;
		padding: 0px 10px;
		text-align: center;
		.box-sizing();
	}
	
	&-template{
		overflow-y: scroll;
		width: 100%;
		height: 80vh;
		margin: 0 auto;
		min-width: 650px;
		border: 1px solid #ddd;
		.box-sizing();
	}

	&-toolbarBtn{
		text-align: left;
		display: block;
		margin-bottom: 1%;

		button{
			font-size: 13px;
			width: 90px;
			padding: 10px 0px;
			margin-right: 1%;

			&.active{
				background-color: darken(rgb(192, 192, 192), 20%);
			}
		}
		
		
		.Bold{
			.editor-button(bold);
		}

		.Italic{
			.editor-button(italic);
		}

		.Strikethrough{
			.editor-button(strikethrough);
		}

		.Underline{
			.editor-button(underline);
		}

		.Subscript{
			.editor-button(subscript);
		}

		.Superscript{
			.editor-button(superscript);
		}

		.Link{
			.editor-button(link);
		}
		.image{
			.editor-button(file-image-o, Insert Image);
		}
	}
}

//////////////////////////
// TEMPLATE TEMP STYLES //
//////////////////////////

.editor .new{
	// add to indicate its contenteditable
	[contenteditable~=true]{
		border: 1px solid #E7E7E7;
	}
	
	.noheader{
		// height: 150px;
		border-bottom: 1px solid #000;
		border-left: 1px solid #000;
		border-right: 1px solid #000;
	}

	.noContent{
		// width: 400px;
		// height: 500px;
	}

	.noSidebar{
		width: 1px;
	}
	.noBottom{
		// height: 150px;
		border: 1px solid #000;	
	}
	
	.tempFlag{
		margin: 0 auto;
	}

	.addComponent{
		width: 100%;
		vertical-align: middle;
		
		&:after{
			text-align: center;
			vertical-align: top;
			color: darken(aquamarine, 50%);
			background-color: aquamarine;
			.actionButtons(plus-circle);
		}
	}
	
	.activeSection{
		width: 100%;
		background-color: aquamarine !important;

		&:after{
			text-align: center;
			color: darken(aquamarine, 50%);
			.actionButtons(minus-circle);
		}
	}
	
	.editComponent{
		.overlayAction(cog, rgba(140, 194, 176, 0.20));
	}
	
	.closeComponent{
		.overlayAction(times, rgba(140, 194, 176, 0.20));
	}

	.removeComponent{
		.overlayAction(minus-circle, rgba(250, 0, 57, 0.5));
	}

	.activeSidebar{
		width: auto;
	}
}